html {
    font-size: 62.5%;
  }
  body {
    width: 980px;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  .header {
    background-color: #F5B4B3;
    height: 50px;
    font-size: 1.5rem;
  }
  .top_menu li {
    float: right;
    width: auto;
  }
  .top_menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
  }
  .top_menu li a:hover {
    text-decoration: underline;
  }
  .logo_image {
    width: 110px;
    float: left;
    margin: 0;
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  .image_area{
    width: 100%;
    height: 20vh;
  }
  .side_menu li{
    background-color: #F5B4B3;
    height: 6rem;
    margin-bottom: 10px;
  }
  .side_menu li a{
    font-size:2rem;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2rem;
  }
  .side_menu{
    width: 300px;
    float: left;
  }
  .content{
    width: 660px;
    margin-left:20px;
    float: left;
    font-size: 1.5rem;
  }
  .wrapper{
    margin-top: 10px;
  }
  .news{
    height: 200px;
    background-color: #FCE8E7;
    padding: 20px;
  }
  .footer{
    width: 144vh;
    height: 100px;
    background-color: #4D4D4D;
    position:absolute;
    bottom:0;
  }
  .footer p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding-top: 50px;
  }

  
.contenant {
  position: relative;
  text-align: center;
  color: white;
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  transform: translate(-50%, -50%);
}

#contact{
    background-color: #FCECEC;
    color: #4D4D4D;
}

tr{
    height: 7rem;
}
th{
    width: 150px;
}
td{
    padding-left: 10px;
}
td .saisie{
    width: 480px;
}
.button{
    margin-left: 50%;
    margin-right: 50%;
    font-size: 3rem;
    color: white;
    background-color: #008B8B;
    padding: 10px 10px 10px 10px;
}
.button:hover{
    opacity: 0.5;
}

.table{
    caption-side: bottom;
    width: 100%;
  }
  .th, .td{
    border: 1px solid black;
    padding: 10px;
  }